<p style="color: green"><%= notice %></p>

<%= render @list %>
<% @tarefas.each do |tarefa| %>
  <% if tarefa.done %>
    <s><p><%= tarefa.name %></p></s>
    <%= button_to "Refazer", toggle_done_task_path(tarefa), method: :patch %>
  <% else %>
    <p><%= tarefa.name %></p>
    <%= button_to "Concluir", toggle_done_task_path(tarefa), method: :patch %>
  <% end %>
<% end %>

<%= form_for @task do |t| %>
  <p><%= t.text_field :name %></p>
  <%= t.hidden_field :list_id, :value => @list.id %>
  <%= t.submit "Adicionar tarefa" %>
<% end %>

<div>
  <%= link_to "Edit this list", edit_list_path(@list) %> |
  <%= link_to "Back to lists", lists_path %>

  <%= button_to "Destroy this list", @list, method: :delete %>
</div>
